{% extends 'layout.html' %}

{% block content %}

<h1>ayyy, url shortener</h1>

<p>
  use either the form below or curl like so
  <pre>
  <code>curl -X POST -d 'url=https://some-long.domain/plus/some/more/longness' {{ hostname }}</code>
  </pre>
</p>

<form method="post" action="">
  <label for="url">url:</label>
  <input id="url" name="url" type="url"/>
  <br/>
  <label for="short">custom url (optional):</label>
  <input id="short" name="short" type="text"/>
  <input name="submit" type="submit" value="Submit"/>
</form>

{% if links %}
{% for link in links %}
{% if loop.first %}
<table>
  <tr>
    <th>long url</th>
  </tr>
  {% endif %}
  <tr>
    <td><a href="{{ link.short_url }}">{{ link.long_url }}</a></td>
    <td><a href="/s/{{link.short_url}}">stats</a></td>
  </tr>
  {% if loop.last %}
</table>
{% endif %}
{% endfor %}
{% endif %}

{% endblock %}
